@model LServices 
@{
    ViewData["Title"] = "Edit";
}
<div class="card-body">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="text" asp-for="Value" class="form-control" placeholder="Enter Value">
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>

</div>

